{% extends 'main.html.twig' %}

{% block title %}Error: Page not found{% endblock %}

{% block content %}
    <div class="container">
        <h1>Error!</h1>
        <p>Page not found =(</p>
    </div>
{% endblock %}
